#logo-navbar{
    margin-top: 9px;
}

#div-centro{
    height: auto;
    width: 100%;
    background-image: url('../../../../assets/img/bg-landing.jpg');
    background-repeat: no-repeat;
    padding-top: 0px;
    background-size: cover;
}

#titulo-centro {
    width: 50%;
    margin-left: 68px;
    position: absolute;
    top: 134px;
    left: -39px;
}

#form-centro{
    width: 30%;
    height: auto;
    background-color: #ffffff;
    position: relative;
    top: -10px;
    margin-left: 50%;
    padding: 50px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, .2);
}

#div-beneficios{
    width: 53%;
    position: relative;
    top: 470px;
    background: #ffff;
    background: rgba(255, 255, 255, 0.8);
    padding: 33px;
}

.titulo-centro-label{
    color: #ffffff;
    font-size: 42px;
}



@media screen and (max-width: 1024px) {

    #div-centro {
        height: auto;
        width: 100%;
        background-image: url('../../../../assets/img/bg-landing.jpg');
        background-repeat: no-repeat;
        padding-top: 0px;
        background-size: cover;
    }
    

    #form-centro {
        width: 40%;
        height: auto;
        background-color: #ffffff;
        position: relative;
        top: -53px;
        margin-left: 56%;
        padding: 25px;
        box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, .2);
    }






    

    #div-beneficios {
        width: 56%;
        position: relative;
        top: 335px;
        background: #ffff;
        background: rgba(255, 255, 255, 0.8);
        padding: 0px;
    }

    .titulo-centro-label{
        color: #ffffff;
        font-size: 36px;
    }
}

@media screen and (max-width: 786px) {
    #div-beneficios{
        display: none;
    }
    #titulo-centro {
        width: 50%;
        margin-left: 68px;
        position: absolute;
        top: 94px;
        left: 32%;
    }

    #form-centro {
        width: 50%;
        height: auto;
        background-color: #ffffff;
        position: absolute;
        top: 222px;
        margin-left: 25%;
        padding: 10px;
        box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, .2);
        font-size: 13px;
    }

    #div-centro {
        height: 285px;
        width: 100%;
        background-image: url('../../../../assets/img/bg-landing.jpg');
        background-repeat: no-repeat;
        padding-top: 111px;
        background-size: cover;
        background-position: center;
    }

    .titulo-centro-label {
        color: #ffffff;
        font-size: 22px;
    }
}

@media screen and (max-width: 375px) {
    #div-centro {
        height: 163px;
        width: 100%;
        background-image: url('../../../../assets/img/bg-landing.jpg');
        background-repeat: no-repeat;
        /* background-position: center top; */
        background-size: cover;
        padding-top: 111px;
    }

    #logo-navbar{
        width: 69px;
    }

    #form-centro{
        width: 81%;
        height: auto;
        background-color: #ffffff;
        position: relative;
        top: 34px;
        margin-left: 32px;
        padding: 8px;
        box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, .2);
    }

    .titulo-centro-label[_ngcontent-ord-c52] {
        color: #ffffff;
        font-size: 18px;
    }
  }



@media screen and (max-width: 375px) {
    #div-centro {
        height: 163px;
        width: 100%;
        background-image: url('../../../../assets/img/bg-landing.jpg');
        background-repeat: no-repeat;
        /* background-position: center top; */
        background-size: cover;
        padding-top: 111px;
    }

    #logo-navbar{
        width: 69px;
    }

    #form-centro{
        width: 81%;
        height: auto;
        background-color: #ffffff;
        position: relative;
        top: 34px;
        margin-left: 32px;
        padding: 8px;
        box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, .2);
    }

    .titulo-centro-label[_ngcontent-ord-c52] {
        color: #ffffff;
        font-size: 18px;
    }
  }

  

/*
#div-centro img{
    width: 100%;
    height: auto;
}

#form-centro{
    height: 200px;
    background-color: #ffffff;
    width: 200px;
    position: absolute;
    top: 2px;
}

@supports(object-fit: cover){
    #div-centro img{
      object-fit: cover;
      object-position: center center;
    }
}

@media screen and (max-width: 400px) {
    #div-centro {
      height: 27%;
    }

    #logo-navbar{
        width: 69px;
    }
  }


*/

