

<app-landing-navbar></app-landing-navbar>
<div id="div-centro">
    <div id="titulo-centro" style="width: 50%; margin-left: 68px;">
        <label class="titulo-centro-label" >Tu Cuenta Corriente</label>
        <br>
        <label class="titulo-centro-label" >100% on line</label>
    </div>
    <div id="div-beneficios">
        <app-landing-beneficio></app-landing-beneficio>
    </div>
    <div id="form-centro">
        <span style="color: rgb(0, 120, 46); font-size: 25px;">Ingresa</span><span style="color: rgb(156, 160, 163); font-size: 25px;"> tus datos</span>
        <br><br><br>
        <p style="color: rgb(127, 130, 135);">
            Solo necesitas tener tu cédula para realizar la solicitud.
        </p>
        <app-landing-alerta></app-landing-alerta>
        <app-landing-form></app-landing-form>
    </div>
</div>


    


