<app-renta-navbar></app-renta-navbar>
<div id="div-centro-renta">
    <div id="form-centro-renta">
        <span style="color: rgb(0, 120, 46); font-size: 25px;">Ay&uacute;danos</span><span style="color: rgb(156, 160, 163); font-size: 25px;"> con unos datos m&aacute;s</span>
        <br><br><br>
        <p style="color: rgb(127, 130, 135);">
            Porque te queremos dar una oferta hecha a la medida para ti, necesitamos hacer un poco m&aacute;s.
        </p>
        <app-renta-alerta></app-renta-alerta>
        <app-renta-form></app-renta-form>
    </div>
</div>
