<div class="container">
    <div class="row">
        <div class="col-4">
            <img class="img-ben" src="../../../../assets/img/ico-cmr.png" alt="">
            <label class="label-ben">Acumula CMR Puntos</label><br>
        </div>
        <div class="col-4">
            <img class="img-ben" src="../../../../assets/img/opu.png" alt="">
            <label class="label-ben">Descuentos exclusivos</label><br>
        </div>
        <div  class="col-4">
            <img class="img-ben" style="width: 80px; margin-top: 23px;" src="../../../../assets/img/visa-blue-png-2.png" alt="">
            <label class="label-ben">Compra en todo el mundo</label><br>
        </div>
    </div>
</div>
